<!-- bibindex: NAV -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">MateriaMusica</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="biblio.html">Volver</a></li>
        <li><a href="index.html">Inicio</a></li>
      </ul>
    </div>
  </div>
</nav>


