body {
 	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222;
	background-color: #eaeaff;
}
.jumbotron {
	background-color: skyblue;
}
.jumbotron-home {
	padding-top: 1.2em;
	padding-bottom: 1.4em;
}
.jumbotron-unidad {
	background-color: lightsteelblue;
	padding-top: 1em;
	padding-bottom: 1.2em;
}
.jumbotron-tp {
	background-color: powderblue;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}
.jumbotron-inicio { background-color: skyblue; }
.jumbotron-foba { background-color: lightgreen; }
.jumbotron-proftec { background-color: #FFEE33; }
.jumbotron-biblio { background-color: deepskyblue; }
.jumbotron-contacto { background-color: lightsteelblue; }
a.plain { text-decoration: none; }
h2.jumbodark { color: #222; }
