<p><a href="#">Volver</a></p><hr/>
<h1 id="material-del-curso---suárez-yamil">Material del curso - Suárez, Yamil</h1>
<p><strong>Materia:</strong> Instrumento (Guitarra)</p>
<p><strong>Carrera/Nivel:</strong> 3º Prof./Tec.</p>
<p><strong>Horario:</strong> Viernes 10:30 -- 12:30 hs</p>
<p><strong>Docente:</strong> Marcelo López Minnucci</p>
<p><strong>Ciclo lectivo:</strong> 2022</p>
<h2 id="programa-de-obras">Programa de obras</h2>
<p><strong>Última actualización:</strong> 8/4/2022</p>
<ul>
<li><em>E. Gismonti</em>: Agua e vinho (arr. Pablo Marfil)</li>
</ul>
