<div class="panel panel-danger">
<div class="panel-heading text-center">ESTA PÁGINA ESTÁ EN CONSTRUCCIÓN</div>
<div class="panel-body text-center">
<img src="static/menatwork.gif" class="img-fluid" alt="Página en construcción">
</div>
<div class="panel-footer text-center">Paciencia...</div>
</div>
