 	<table class="table table-bordered table-striped">
  	<thead>
    	<tr>
      	<th>Autor</th>
      	<th>Título</th>
      	<th>Descargar</th>
    	</tr>
  	</thead>
			<tbody id="%tableid%">
  	  <tr>
