<div class="container">
	<div class="jumbotron jumbotron-fluid jumbotron-tp">
 		<div class="container">
 			<h3>%TITLE%</h3>
<!-- 			<p><small><i>%TEXT%</i></small></p> -->
 			<p><small>%TEXT%</small></p>
 		</div>
 	</div>
</div>

