<!-- NAV -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">MateriaMusica</a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Inicio</a></li>
	      <li class="dropdown">
  	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">FOBA
    	    <span class="caret"></span></a>
      	  <ul class="dropdown-menu">
        	  <li><a href="foba3.html">3ª año</a></li>
  	      </ul>
    	  </li>
	      <li class="dropdown">
  	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Prof./Tec.
    	    <span class="caret"></span></a>
      	  <ul class="dropdown-menu">
        	  <li><a href="cs1.html">1ª año</a></li>
        	  <li><a href="cs2.html">2ª año</a></li>
        	  <li><a href="cs3.html">3ª año</a></li>
        	  <li><a href="cs4.html">4ª año</a></li>
  	      </ul>
    	  </li>
	      <li class="dropdown">
  	      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Biblioteca
    	    <span class="caret"></span></a>
      	  <ul class="dropdown-menu">
        	  <li><a href="bibindex.html">Partituras</a></li>
        	  <li><a href="materiel.html">Material de estudio</a></li>
        	  <li><a href="exercises.html">Ejercicios</a></li>
        	  <li><a href="bookindex.html">Libros</a></li>
  	      </ul>
    	  </li>
      </ul>
    </div>
  </div>
</nav>

