	<input class="form-control" id="%inputid%" type="text" placeholder="Buscar..">
	<br>
	
	<script>
		$(document).ready(function(){
	 		$("#%inputid%").on("keyup", function() {
	   		var value = $(this).val().toLowerCase();
	   		$("#%tableid% tr").filter(function() {
	     		$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	   		});
	 		});
		});
	</script>
 	
	<table class="table table-bordered table-striped">
  	<thead>
    	<tr>
      	<th>Autor</th>
      	<th>Título</th>
      	<th>Descargar</th>
    	</tr>
  	</thead>
			<tbody id="%tableid%">

